.side-filter-container {
  background-color: #fff;
  box-shadow: 0 3px 15px 3px rgba(34, 34, 34, 0.1);
  .filter-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 16px;

    .filter {
      display: flex;
      column-gap: 12px;

      > .label {
        font-size: 14px;
      }
    }
  }
}
