@font-face {
  font-family: dana;
  src: url("./assets/fonts/dana/woff2/dana-fanum-regular.woff2") format("woff2"),
    url("./assets/fonts/dana/woff/dana-fanum-regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: dana;
  src: url("./assets/fonts/dana/woff2/dana-fanum-demibold.woff2")
      format("woff2"),
    url("./assets/fonts/dana/woff/dana-fanum-demibold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: dana;
  src: url("./assets/fonts/dana/woff2/dana-fanum-medium.woff2") format("woff2"),
    url("./assets/fonts/dana/woff/dana-fanum-medium.woff") format("woff");
  font-weight: 500;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  direction: rtl;
  font-family: "dana" !important;
  font-size: 12px;
  font-weight: 500;
}
